<div class="container-fluid">
    <nav>
      <ul>
        <li><strong>BlogID</strong></li>
        <li><a href="/admin/categories">
          <span class="material-symbols-outlined">view_cozy</span>
          Categorias
        </a></li>
        <li><a href="/admin/articles">
          <span class="material-symbols-outlined">list_alt</span>
          Artigos
        </a></li>
      </ul>
      <ul>
        <li><a href="/user/logout">
          <span class="material-symbols-outlined">logout</span>
          LogOut
        </a></li>
      </ul>
    </nav>
    <hr>
</div>

<style>
  a {
    display: flex;
    align-items: center;
  }
</style>